Host *
    UseKeychain yes
    AddKeysToAgent yes

Host github.com
    User git
    IdentityFile ~/.ssh/HelloSign.key

ForwardAgent yes
Host *.staging.internal 172.18.*.* ip-172-18-*.ec2.internal
    ProxyCommand ssh -W %h:22 %r@bastion.staging-hellosign.com
Host *.qa.internal 172.19.*.* ip-172-19-*.ec2.internal
    ProxyCommand ssh -W %h:22 %r@bastion.qa-hellosign.com
Host 172.17.*.* ip-172-17-*.ec2.internal *.prod.internal
    ProxyCommand ssh -W %h:22 kencross@bastion.hellosign.com
    User kencross
    ForwardAgent yes
